@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Inclusive+Sans&display=swap');

.breaker {
  display: flex;
  flex-direction: column;      /* Arrange children in a vertical column */
  align-items: center;         /* Center the content horizontally */
  margin-top: 10px;

  h1 {
    font-family: 'Graduate', sans-serif;
    margin-top: 0px;
    padding-left: 70px;
    font-weight: 500;
    text-align: left;         /* Center the heading text */
    margin-bottom: 25px;
    font-size: 28px;
  }

  .arrow {
    height: 40px;
    width: 40px;
    vertical-align: middle;    /* Align the arrow with the text */
    margin-left: 10px;          /* Add some spacing between the text and the arrow */
  }

  .cards-container {
    display: flex;             /* Use flexbox for horizontal layout */
    gap: 20px;                 /* Add space between cards */
    flex-wrap: wrap;           /* Allow cards to wrap to the next line on smaller screens */
    justify-content: center;   /* Center the cards horizontally */
  }
}
